.geo-table{
  width: 1300px;
  margin: 0 auto;
}

.icon {
  width: 35px;
  height: 35px;
  border: 2px solid #ececec;
  border-radius: 5px;
  cursor: pointer;
}

.icon.icon-to-detail {
  background: url(../img/icon-arrow.png) no-repeat center center;
  background-size: 20px 20px;
}

.icon.icon-favorite {
  background: url(../img/icon-star.png) no-repeat center center;
  background-size: 20px 20px;
}
